---
import { getCollectionCTM, getEntryCTM } from "@/lib/customContentLoader.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import { markdownify } from "@/lib/utils/textConverter";
import ReactIcons from "@/helpers/ReactIcons.astro";
import uniqueIdGenerator from "@/lib/utils/uniqueIdGenerator";
import type { z } from "astro/zod";
import type { Section } from "@/types";
import type { servicesSectionSchema } from "@/sections.schema";

// Type for this section data
type Service = {
  title: string;
  description: string;
};

type ServicesInterface = Section & z.infer<typeof servicesSectionSchema>;
type Props = {
  content?: ServicesInterface;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "services-section", Astro.currentLocale)
)?.data as ServicesInterface;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  defaultContent,
  Astro.props.content,
) as ServicesInterface;

// Extracting required values from 'content' object
let {
  enable = true,
  title,
  sectionDirection = "vertical",
  options: { layout = "accordion", appearance, limit = false } = {},
} = actualContent as ServicesInterface;

let services = (await getCollectionCTM("services", Astro.currentLocale)) as
  | Service[]
  | any[];

if (layout === "accordion") {
  services = services.map((service) => {
    return {
      title: service.data.title,
      description: service.data.description,
    };
  }) as Service[];
}

const isHorizontalSection = sectionDirection === "horizontal";

// limit the number of services to be displayed
services = limit ? services.slice(0, limit as number) : services;

if (!enable) {
  return null;
}
---

<section id="services" data-aos="fade" data-aos-duration="300" class="bg-white py-16">
  <div
    class:list={[
      "container",
      isHorizontalSection
        ? "grid grid-cols-1 items-start space-y-10 gap-x-10 lg:grid-cols-2 lg:space-y-0"
        : "space-y-10",
    ]}>
    {
      title && (
        <h2
          data-aos="reveal-anim-top"
          data-aos-duration="1000"
          class:list={[
            "text-3xl font-bold uppercase tracking-tight text-black mx-auto max-w-3xl",
            appearance === "dark" && "text-light",
            isHorizontalSection ? "lg:sticky lg:top-32" : "text-center",
          ]}
          set:html={markdownify(title)}
        />
      )
    }

    {
      layout === "accordion" ? (
        <div class="hs-accordion-group mx-auto w-full max-w-3xl border-t-2 border-black">
          {services.map((item, index): { item: Service; index: number } => {
            const id = uniqueIdGenerator(item.title);
            return (
              <div
                class:list={[
                  "hs-accordion relative border-b-2 border-black py-4 first:border-t-0",
                  "transition-all duration-0 lg:flex lg:flex-row lg:items-start lg:justify-between lg:gap-8",
                  index === 0 && "active",
                ]}
                id={"accordion-" + id}>
                <div
                  class="font-mono mt-1 mb-2 text-sm font-bold opacity-60 lg:mb-0"
                  set:html={(index <= 9 ? "0" : "") + (index + 1)}
                />
                <button
                  title="show or hide accordion content"
                  class="hs-accordion-toggle absolute inset-0 size-full"
                />
                <button
                  title="show or hide accordion content"
                  aria-controls={"accordion-content-" + id}
                  aria-expanded={index === 0 ? "true" : "false"}
                  class="hs-accordion-toggle w-full text-start text-xl font-bold uppercase tracking-tight text-black flex items-center justify-between"
                >
                  <span set:html={item.title}></span>
                  <div class="hs-accordion-active:rotate-180 pointer-events-none transition duration-300">
                    <ReactIcons
                      icon="RxArrowDown"
                      class="text-black text-xl"
                    />
                  </div>
                </button>
                <div
                  role="region"
                  id={"accordion-content-" + id}
                  aria-labelledby={"accordion-" + id}
                  class:list={[
                    "hs-accordion-content hs-accordion-active:opacity-100 w-full overflow-hidden opacity-0 transition-all duration-300 ease-linear",
                    index !== 0 && "hidden",
                  ]}>
                  <div class="prose-styles prose-p:text-sm prose-p:leading-relaxed prose-p:font-secondary pt-3 text-gray-600">
                    <div set:html={markdownify(item.description, true)} />
                  </div>
                </div>
              </div>
            );
          })}
        </div>
      ) : layout === "grid" ? (
        <div class="py-8 text-center text-sm text-gray-400 italic">
          "Grid Layout" is only available in the Pro version.
        </div>
      ) : null
    }
  </div>
</section>
